
/*MY CODE*/

/*problems I have run into: 
all fixed */


.DRAWING{
    background-image: url(Drawings_copy%20copy.JPG);
    background-color: plum;
    padding: 200px; 
    background-size: 50vw;
    position: relative;
    clip-path: polygon(0 62%, 0% 0%, 100% 0%, 100% 62%, 51% 91%);
    
}

.name {
    position: sticky;
    align-content: stretch;
    background-color: transparent;
    padding: 25px;
}
.name p{
    
    font-family:'Fascinate', cursive;
    font-size: 5vw;
    text-align: center;
    color: black;
   
}

#under-name{
    font-size: 2vw;
}


        .content{
        background-color: white;
        padding-bottom: 200px;
        }

.paragraph{
    padding-bottom: 60px;
    text-align: center;
    font-size: 50px;
    font-family: 'Fascinate', cursive;
    color: black;
}

.content ul{
    margin-left: 15vw;
}

.content li{
    float: left;
    padding: 2vw;
}

.bar-image{
    border: 5px solid #021a40;
    clip-path: circle(70px at center);
}

.favorites{
    font-size: 20px;
    font-family: 'Fascinate', cursive;
    background-color: plum;
    text-align: center;
    padding: 150px;
    margin-top: 35px;
    clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
    min-width: 8vw;
}

ul{
    list-style-position: inside;
    text-align: center;
    padding-right: 4vw;
}
.favorites li{
    padding-bottom: 10px;

}

footer{
    font-size: 20px;
    font-family: 'Fascinate', cursive;
    background-color: plum;
    text-align: center;
    padding: 50px;
    
    
}

     
