
/*MY CODE*/

/*problems I have run into: 
all fixed */


.DRAWING{
    background-image: url(//raw.githubusercontent.com/pamvc/PamelaVazquezWebsite/master/Drawings_copy%20copy.jpg);
    background-color: plum;
    padding: 200px; 
    background-size: 50vw;
    position: relative;
    -webkit-clip-path: polygon(0 62%, 0% 0%, 100% 0%, 100% 62%, 51% 91%);
    
}

.name {
    position: sticky;
    align-content: stretch;
    background-color: transparent;
    padding: 25px;
}
.name p{
    
    font-family:'Fascinate', cursive;
    font-size: 5vw;
    text-align: center;
    color: black;
   
}

#under-name{
    font-size: 2vw;
}


        .content{
        background-color: white;
        padding-bottom: 200px;
        }

.paragraph{
    padding-bottom: 60px;
    text-align: center;
    font-size: 50px;
    font-family: 'Fascinate', cursive;
    color: black;
}

.content ul{
    margin-left: 15vw;
}

.content li{
    float: left;
    padding: 2vw;
}

.favorites{
    font-size: 30px;
    font-family: 'Fascinate', cursive;
    background-color: plum;
    text-align: center;
    padding: 500px;
    position:relative;
    top: -250px;
    -webkit-clip-path: polygon(50% 50%, 100% 30%, 100% 75%, 50% 100%, 0% 75%, 0 30%);
    height: 50px;
    min-width: 8vw;

}

.projects{
    transform: translateX(20px);
}
.FirstBoxSecondPage{
    font-family: 'Fascinate', cursive;
    background-color: lightcyan;
    padding: 95px;
    top: -125px;
    text-align: center;
    font-size: 50px;
    border-radius: 25px;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-text-orientation: upright;
    transition: .5s;
    position: relative;
    overflow: hidden;
   
}

.SecondBoxSecondPage{
    font-family: 'Fascinate', cursive;
    background-color: lightpink;
    padding: 95px; 
    top: -125px;
    text-align: center;
    font-size: 50px;
    border-radius: 25px; 
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-text-orientation: upright; 
    transition: .5s;
    position: relative;
    overflow: hidden;
}

.ThirdBoxSecondPage{
    font-family: 'Fascinate', cursive;
    background-color: plum;
    padding: 95px; 
    top: -125px;
    text-align: center;
    font-size: 50px;
    border-radius: 25px; 
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-text-orientation: upright; 
    transition: .5s;
    position: relative;
    overflow: hidden;
}

.FourthBoxSecondPage{
    font-family: 'Fascinate', cursive;
    background-color: ffd599;
    padding: 95px; 
    top: -125px;
    text-align: center;
    font-size: 50px;
    border-radius: 25px; 
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-text-orientation: upright; 
    transition: .5s;
    position: relative;
    overflow: hidden;
}

.FifthBoxSecondPage{
    font-family: 'Fascinate', cursive;
    background-color: fdfd96;
    padding: 95px; 
    top: -125px;
    text-align: center;
    font-size: 50px;
    border-radius: 25px; 
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-text-orientation: upright; 
    transition: .5s;
    position: relative;
    overflow: hidden;
}

.FirstBoxSecondPage:hover, .SecondBoxSecondPage:hover,.ThirdBoxSecondPage:hover,.FourthBoxSecondPage:hover,.FifthBoxSecondPage:hover{
    background-color: aliceblue;
    text-shadow: 2px 2px grey;
    border-width: thick;
    border-style: dotted;
    border-color: black;
    
}

.bar-image{
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    background: #021a40;
    box-sizing: border-box;
    -webkit-clip-path: circle(72px at center);
    clip-path: circle(72px at center);
}

.bar-image img {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 146px;
  height: 146px;
  -webkit-clip-path: circle(70px at center);
  clip-path: circle(70px at center);
}

.contact{
    font-size: 20px;
    padding: 25px;
    font-family: 'Fascinate', cursive;
    text-align: center;
    background-color: #FBFBF8;
    top: -50px;
    transform: translateY(150px);
    
}

.inputBox{
    height: 50px;
    padding: 7px;
    border-width:medium;
    border-style: solid;
    border-color: black;
}

     
